<header><h1>Haere mai/Welcome!</h1></header>
<p>Here you can save your running data:</p>
<form action="" method="POST">
  <label for="day" class="form-item">
    Day of run:
    <input type="text" name="day" placeholder="Monday">
  </label>
  <label for="duration" class="form-item">
    Duration of run in minutes:
    <input type="text" name="duration" placeholder="60">
  </label>
  <label for="effort" class="form-item">
    Effort of run:
    <input type="text" name="effort" placeholder="Aerobic steady pace">
  </label>
  <input type="submit" name="" value="Submit your running data" class="button-primary">
</form>